<div class="container-fluid">
    <app-pnavigation></app-pnavigation>
    <div class="row">
        <div class="col-sm-2 offset-lg-8">
            <form [formGroup]="article" (ngSubmit)="create()">
                <div class="form-group">
                    <label for="exampleInputUserName">Title</label>
                    <input type="text" formControlName="title" class="form-control" id="exampleInputUserName" aria-describedby="userNameHelp">
                    <div *ngIf="title.errors?.required && title.touched" class="alert alert-danger" role="alert">
                        Title is required
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Body</label>
                    <textarea type="text" formControlName="body" class="form-control" id="exampleInputPassword1"></textarea>
                    <div *ngIf="body.errors?.required && body.touched" class="alert alert-danger" role="alert">
                        Description is required
                    </div>
                </div>
                <div class="form-group">
                    <label class="tagLabel" for="exampleInputPassword1">Tags</label>
                    <mat-chip-list #chipList aria-label="Fruit selection">
                        <mat-chip *ngFor="let tag of tagsInput" [selectable]="true"
                                 [removable]="true" (removed)="remove(tag)">
                          {{tag}}
                          <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                        <input
                            placeholder="New tag..."
                            formControlName="tags"
                            [matChipInputFor]="chipList"
                            [matChipInputAddOnBlur]="true"
                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                            (matChipInputTokenEnd)="add($event)">
                    </mat-chip-list>
                    <div *ngIf="!this.tagsCount && this.tags.touched" class="alert alert-danger" role="alert">
                        Tags are required
                    </div>
                </div>
                <div class="form-group" *ngFor="let image of this.imageUploadArray; index as i">
                    <label for="exampleFormControlFile1">Image {{i}}</label>
                    <input (change)="this.onFileEventChange($event, i)" type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>
                <button type="submit" class="btn btn-primary">Create</button>
            </form>
            <button (click)="addMoreImages()" class="btn btn-primary">Add More Images</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
