<div class="btn-group" role="group" aria-label="Basic example">
    <button (click)="h()" type="button" class="btn btn-primary">H</button>
    <button (click)="bold()" type="button" class="btn btn-primary">Bold</button>
    <button (click)="italic()" type="button" class="btn btn-primary">Italic</button>
    <button (click)="link()" type="button" class="btn btn-primary">Link</button>
    <button (click)="image()" type="button" class="btn btn-primary">Image</button>
    <a href="https://www.tablesgenerator.com/" target="_blank" type="button" class="btn btn-primary">Custom Elements</a>
  </div>