<div class="container-fluid">
    <app-pnavigation></app-pnavigation>
    <div class="row">
        <div class="offset-lg-12">
            <div class="card text-center">
                <div class="card-header">
                <ul class="nav nav-pills card-header-pills nav-tabs card-header-tabs">
                    <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#programming">Professional</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#hobbies">Free Time</a>
                    </li>
                </ul>
                </div>
                <div class="card-body">
                    <div class="tab-content">
                        <div id="programming" class="tab-pane active">
                            <h2 class="card-title">My carreer path</h2>
                            <p class="card-text">
                                I am a young man, who is interested in the IT field. <br>
                                My main niche is the software development. It started as a hobby at first, but now I have around 5 years professional experience as mobile and web developer and two years as a freelancer. <br>
                                During that time I have gained serious knowledge in the following software technologies and languages: PHP, JavaScript, Java, NodeJs, DatabasesSQL and NoSql). <br>
                                Alongside the process I finished several courses in Telerik Academy by Progress, where I came into touch with C#. <br>
                                I dedicate lots of my free time into learning mobile development - Java for Android, Swift for iOS and Nativescript. <br>
                                I also gained serious passion into atificial intelligence while studying Data Knowledge courses like Machine Learnining and Information Retrieval in Germany. <br> 
                                Currently I am focused on creating PHP packages and learning ASP.NET Core and Angular. <br>
                                I am also interested in creating games using Unity 3D game engine.
                                </p>
                        </div>  
                        <div id="hobbies" class="tab-pane">
                            <h2 class="card-title">Hobbies and passions</h2>
                            <p class="card-text">Ten years ago it all startetd with a clip in Youtube about cosmology. <br>
                                Since then and couple of books and lots of documentaries later it still remains as my passion. <br>
                                It widened my horizon and showed me how interesting the science can be, more specifically the quantum realm, astrophysics, theoretical physics, mathematics, game theory and others. <br>
                                Now I am getting my hands into structures, formal systems and some ever repeating loops. <br>
                                In the end I have to say that here you can see some sport (especially football) and travelling articles as these are my other interests.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>