img.align-self-center {
    height: 100%;
    width: 20vw;
}

h5 {
    font: unset;
    margin: unset;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: bold;
}

.media {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
}

.review {
    height: 100%;
}

.media-body {
    margin: auto;;
}

.card-img-top {
    height: 150px !important;
}

.card {
    height: 99%;
}