<div class="container-fluid">
    <app-pnavigation (updateResults)="update($event)"></app-pnavigation>
    <div class="row">
      <div class="col-lg-9">
        <div class="jumbotron jumbotron-fliud">
          <h1 class="display-4">Hi, folks!</h1>
          <p class="lead">Welcome to my articles section!</p>
          <hr class="my-4">
          <p>Here I will post some interesting articles, essays or just notes. 
              Topics will mainly include programming, cosmology, physics, sports, or even healthy living.
          </p>
        </div>
        <div *ngIf="!this.getArticlesCount()" class="alert alert-primary" role="alert">
          There are currently no articles !
        </div>
        <div *ngIf="this.getArticlesCount()" class="row">
          <div class="col-sm-3" *ngFor="let article of getArticles()">
            <div class="card">
              <div class="card-body">
                <img src="assets/images/hobbies/article.jpg" class="card-img-top" alt="Hobbies">
                <h2 class="card-title">{{article.title}}</h2>
                <a href="/hobbies/article/{{article.id}}" class="btn btn-primary">Get Details</a>
                <button *ngIf="this.isUserAdmin()" (click)="this.editArticle(article.id)" class="btn btn-warning">Edit</button>
                <button *ngIf="this.isUserAdmin()" (click)="this.deleteArticles(article.id)" class="btn btn-danger">Delete</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3">
        <ul class="list-group">
          <li class="list-group-item disabled" aria-disabled="true">Популярни тагове</li>
          <li (click)="this.quickSearch('');" class="list-group-item">Всички</li>
          <li (click)="this.quickSearch('Programming');" class="list-group-item">Programming / Програмиране</li>
          <li (click)="this.quickSearch('AI');" class="list-group-item">Artficial Intelligence / Изкуствен Интелект</li>
          <li (click)="this.quickSearch('Наука');" class="list-group-item">Наука</li>
          <li (click)="this.quickSearch('Физика');" class="list-group-item">Физика</li>
          <li (click)="this.quickSearch('Космология');" class="list-group-item">Космология</li>
          <li (click)="this.quickSearch('Личност');" class="list-group-item">Личност</li>
          <li (click)="this.quickSearch('Развитие');" class="list-group-item">Развитие</li>
          <li (click)="this.quickSearch('Здраве');" class="list-group-item">Здраве</li>
          <li (click)="this.quickSearch('Спорт');" class="list-group-item">Спорт</li>
        </ul>
      </div>

    </div>
  </div>
  <router-outlet></router-outlet>