<app-loading *ngIf="this.loading"></app-loading>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Main</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <span *ngIf="this.isUserLogged()" class="navbar-text">
      Hi, {{this.getUserName()}}
    </span>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [attr.href]="'/' + getMode()" >Home <span class="sr-only">(current)</span></a>
        </li>
        
        <li *ngIf="!this.isUserLogged()" class="nav-item">
          <a class="nav-link" href="/login">Log In</a>
        </li>
        <li *ngIf="this.isUserLogged()" class="nav-item">
          <a (click)="this.logOut()" class="nav-link" href="/home">Log out</a>
        </li>
        <li *ngIf="this.isUserAdmin() && this.getMode() == 'programming'" class="nav-item">
          <a class="nav-link" href="/technology/create">Add technology</a>
        </li>
        <li *ngIf="this.isUserAdmin() && this.getMode() == 'programming'" class="nav-item">
          <a class="nav-link" href="/project/create">Add project</a>
        </li>
        <li *ngIf="this.isUserAdmin() && this.getMode() == 'hobbies'" class="nav-item">
          <a class="nav-link" href="/article/create">Add Article</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/IvanGrigorov">Github</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.linkedin.com/in/ivan-grigorov-0527b0ba/">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:webmaster@example.com">Mail</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/info">Info</a>
        </li>
      </ul>
      <form [formGroup]="this.formQuery" class="form-inline my-2 my-lg-0">
        <input formControlName="query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" (click)="this.search()">Search</button>
      </form>
    </div>
  </nav>