html, body {
    height:100%;
}

.carousel, .carousel * {
    height: 50vh;
} 

.card, .fb-like {
    margin-top: 10px;
}

.btn {
    margin: 5px;
}

.fb_iframe_widget {
    display: block !important;
}