<div class="container-fluid h-100">
    <app-pnavigation></app-pnavigation>
    <div class="row h-100">
      <div class="col-sm-6">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="Programming">
          <div class="card-body">
            <h5 class="card-title">Programming</h5>
            <p class="card-text">This is the programming section of my blog, where you can find my portfolio.</p>
            <a routerLink="/programming-component" routerLinkActive="active" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card h-100">
          <img src="..." class="card-img-top" alt="Hobbies">
          <div class="card-body">
            <h5 class="card-title">Hobbies</h5>
            <p class="card-text">This is the fun part of the blog where you can find articles on different topics.</p>
            <a routerLink="/programming-component" routerLinkActive="active" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>