<div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-sm-6">
        <div class="card h-100">
          <img src="assets/images/programming/programming.jpg" class="card-img-top" alt="Programming">
          <div class="card-body">
            <h2 class="card-title">Programming</h2>
            <p class="card-text">This is the programming section of my blog, where you can find my portfolio.</p>
            <button (click)="programmingMode()" routerLinkActive="active" class="btn btn-primary">Go somewhere</button>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card h-100">
          <img src="assets/images/hobbies/hobbies.jpg" class="card-img-top" alt="Hobbies">
          <div class="card-body">
            <h2 class="card-title">Hobbies</h2>
            <p class="card-text">This is the fun part of the blog where you can find articles on different topics.</p>
            <button (click)="articleMode()" routerLinkActive="active" class="btn btn-primary">Go somewhere</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>